/* Fonts */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
:root {
  --default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Montserrat", sans-serif;
  --nav-font: "Lato", sans-serif;
}

/*----- Global Colors -----*/
:root {
  --background-color: #ffffff;
  --background-color-rgb: 255, 255, 255;
  --default-color: #212529;
  --default-color-rgb: 33, 37, 41;
  --primary-color: #e84545;
  --primary-color-rgb: 232, 69, 69;
  --secondary-color: #32353a;
  --secondary-color-rgb: 50, 53, 58;
  --contrast-color: #ffffff;
  --contrast-color-rgb: 255, 255, 255;
  --nav-color: rgb(255 248 255 / 52%);
  --nav-hover-color: #ffffff;
  --nav-header-02-color: #444444;
}

/*----- Smooth scroll -----*/
:root {
  scroll-behavior: smooth;
}

a {
  color: #e84545;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: rgba(var(--primary-color-rgb), 0.7);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--secondary-color);
  font-family: var(--heading-font);
}

section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  overflow: clip;
}

/*----- Section Title -----*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  transition: all 0.6s ease-in-out !important;
  visibility: visible;
  animation-duration: 2s;
  animation-name: slideInUp;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  position: relative;
}
.section-title h2:before, .section-title h2:after {
  content: "";
  width: 50px;
  height: 2px;
  background: #e84545;
  display: inline-block;
}
.section-title h2:before {
  margin: 0 15px 10px 0;
}
.section-title h2:after {
  margin: 0 0 10px 15px;
}
.section-title p {
  margin-bottom: 0;
}

/*----- Section Title -----*/
/*----- Nav Bar -----*/
.header-01 {
  background-color: transparent;
  display: block;
  position: absolute;
  width: 100%;
  z-index: 99999;
}
.header-01 .navbar-brand {
  display: flex;
}
.header-01 .navbar-brand h1 {
  font-size: 24px;
  margin: 0;
  font-weight: 600;
  color: var(--nav-hover-color);
}
.header-01 .navbar-brand span {
  color: #e84545;
  font-size: 24px;
  font-weight: 600;
  padding-left: 3px;
}
.header-01 .collapse {
  justify-content: center;
}
.header-01 .collapse .navbar-nav {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.header-01 .collapse .navbar-nav a {
  color: var(--nav-color);
  padding: 18px 15px;
  font-size: 16px;
  font-family: var(--nav-font);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
}
.header-01 .collapse .navbar-nav a.active {
  color: var(--nav-hover-color);
}
.header-01 .collapse .btn-getstarted {
  color: var(--contrast-color);
  background: #e84545;
  font-size: 14px;
  padding: 8px 26px;
  margin: 0;
  border-radius: 4px;
  transition: 0.3s;
  text-decoration: none;
}
.header-01 .collapse .btn-getstarted:hover {
  color: #ffffff;
  background: rgba(232, 69, 69, 0.85);
}

@media (max-width: 992px) {
  .header-01 {
    background-color: rgb(244, 244, 244);
  }
  .header-01 .navbar-brand {
    display: flex;
  }
  .header-01 .navbar-brand h1 {
    color: var(--nav-header-02-color) !important;
  }
  .header-01 .navbar-brand span {
    color: rgba(232, 69, 69, 0.85);
  }
  .header-01 .show {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-01 .show a {
    color: var(--nav-header-02-color) !important;
  }
  .header-01 .show a.active {
    color: #e84545 !important;
  }
  .header-01 .show .btn-getstarted {
    color: var(--contrast-color) !important;
    background: #e84545;
  }
  .header-01 .show .btn-getstarted:hover {
    color: #ffffff;
    background: rgba(232, 69, 69, 0.85);
  }
}
.header-02 {
  background-color: rgb(244, 244, 244);
  display: none;
  position: absolute;
  width: 100%;
  z-index: 99999;
}
.header-02 .navbar-brand {
  display: flex;
}
.header-02 .navbar-brand h1 {
  font-size: 24px;
  margin: 0;
  font-weight: 600;
  color: var(--nav-header-02-color) !important;
}
.header-02 .navbar-brand span {
  color: rgba(232, 69, 69, 0.85);
  font-size: 24px;
  font-weight: 600;
  padding-left: 3px;
}
.header-02 .collapse {
  justify-content: center;
}
.header-02 .collapse .navbar-nav {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.header-02 .collapse .navbar-nav a {
  color: var(--nav-header-02-color);
  padding: 18px 15px;
  font-size: 16px;
  font-family: var(--nav-font);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
}
.header-02 .collapse .navbar-nav a.active {
  color: #e84545;
}
.header-02 .collapse .btn-getstarted {
  color: var(--contrast-color);
  background: #e84545;
  font-size: 14px;
  padding: 8px 26px;
  margin: 0;
  border-radius: 4px;
  transition: 0.3s;
  text-decoration: none;
}
.header-02 .collapse .btn-getstarted:hover {
  color: #ffffff;
  background: rgba(232, 69, 69, 0.85);
}

@media (max-width: 992px) {
  .header-02 .show {
    display: flex;
    flex-direction: column;
  }
}
/* ----- Nav Bar End -----*/
/*----- Hero Section -----*/
.hero {
  --default-color: #ffffff;
  --default-color-rgb: 255, 255, 255;
  --background-color: #000000;
  --background-color-rgb: 0, 0, 0;
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 160px 0 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 1;
}
.hero:before {
  content: "";
  background: rgba(var(--background-color-rgb), 0.5);
  position: absolute;
  inset: 0;
  z-index: 2;
}
.hero .container {
  position: relative;
  z-index: 3;
}
.hero .container h2 {
  color: var(--contrast-color);
  margin: 0;
  font-size: 44px;
  font-weight: 700;
}
.hero .container p {
  color: rgba(var(--default-color-rgb), 0.8);
  margin: 5px 0 0 0;
  font-size: 20px;
}
.hero .container .sign-up-form {
  margin-top: 20px;
  padding: 10px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
}
.hero .container .sign-up-form .form-control {
  border: none;
}
.hero .container .sign-up-form .form-control:active, .hero .container .sign-up-form .form-control:focus {
  outline: none;
  box-shadow: none;
}
.hero .container .sign-up-form input[type=submit] {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  background-color: #e84545;
  border-color: #e84545;
  padding: 8px 20px 10px 20px;
  border-radius: 7px;
  color: var(--contrast-color);
}
.hero .container .sign-up-form input[type=submit]:hover {
  background-color: rgba(var(--primary-color-rgb), 0.9);
}

@media (max-width: 575px) {
  .hero .container h2 {
    font-size: 24px;
  }
  .hero .container p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .hero .container h2 {
    font-size: 32px;
  }
  .hero .container p {
    font-size: 18px;
  }
}
/*----- Hero Section End -----*/
/*----- Clients Section -----*/
.clients {
  padding: 10px 0;
}
.clients .client-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.clients .client-logo img {
  padding: 40px;
  max-width: 80%;
  transition: 0.3s;
  opacity: 0.5;
  filter: grayscale(100);
}
.clients .client-logo img:hover {
  filter: none;
  opacity: 1;
}

@media (max-width: 640px) {
  .clients .client-logo img {
    padding: 20px;
  }
}
/*----- Client Section End -----*/
/*-----  About Section -----*/
.about {
  --background-color: #f4f4f4;
}
.about .content h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  padding: 10px 20px;
  background: rgba(var(--primary-color-rgb), 0.05);
  color: #e84545;
  border-radius: 7px;
  display: inline-block;
}
.about .content h2 {
  font-weight: 700;
}
.about .content p:last-child {
  margin-bottom: 0;
}
.about .content .read-more {
  background: #e84545;
  color: var(--contrast-color);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 12px 24px;
  border-radius: 5px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.about .content .read-more i {
  font-size: 18px;
  margin-left: 5px;
  line-height: 0;
  transition: 0.3s;
}
.about .content .read-more:hover {
  background: rgba(var(--primary-color-rgb), 0.8);
  padding-right: 19px;
}
.about .content .read-more:hover i {
  margin-left: 10px;
}
.about .icon-box {
  padding: 50px 40px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.3s ease-out 0s;
  background-color: #fff;
}
.about .icon-box i {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 0;
  transition: all 0.4s ease-out 0s;
  background-color: rgba(var(--primary-color-rgb), 0.05);
  color: #e84545;
}
.about .icon-box h3 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}
.about .icon-box p {
  margin-bottom: 0;
}
.about .icon-box:hover i {
  background-color: #e84545;
  color: var(--contrast-color);
}
.about .icon-boxes .col-md-6:nth-child(2) .icon-box,
.about .icon-boxes .col-md-6:nth-child(4) .icon-box {
  margin-top: -40px;
}

@media (max-width: 768px) {
  .about .content {
    text-align: center;
  }
  .about .icon-box {
    text-align: center;
  }
  .about .icon-boxes .col-md-6:nth-child(2) .icon-box,
  .about .icon-boxes .col-md-6:nth-child(4) .icon-box {
    margin-top: 0;
  }
}
/*-----  About Section End -----*/
/*----- Stats Section -----*/
.stats {
  --default-color: #ffffff;
  --default-color-rgb: 255, 255, 255;
  --background-color: #000000;
  --background-color-rgb: 0, 0, 0;
  position: relative;
  padding: 120px 0;
}
.stats img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 1;
}
.stats:before {
  content: "";
  background: rgba(var(--background-color-rgb), 0.6);
  position: absolute;
  inset: 0;
  z-index: 2;
}
.stats .container {
  position: relative;
  z-index: 3;
}
.stats .stats-item {
  padding: 30px;
  width: 100%;
}
.stats .stats-item span {
  font-size: 48px;
  display: block;
  color: var(--default-color);
  font-weight: 700;
}
.stats .stats-item p {
  padding: 0;
  margin: 0;
  font-family: var(--heading-font);
  font-size: 16px;
  font-weight: 700;
  color: rgba(var(--default-color-rgb), 0.6);
}

/*----- Stats Section End -----*/
/*-----  Responise Section -----*/
img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.responsive-designs {
  background-image: url(../images/footer-bg.jpg);
}
.responsive-designs .responsive-row {
  margin: 0px;
  padding: 50px 0px;
}
.responsive-designs .responsive-row .responsive-column {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  align-self: center;
  vertical-align: middle;
}
.responsive-designs .responsive-row .responsive-column .images {
  position: relative;
  text-align: center;
  width: 320px;
  height: 310px;
}

.tv-image {
  text-align: center;
  position: absolute;
  top: 0;
  left: 13%;
}
.tv-image .tv-img {
  width: 314px;
  height: 308px;
  position: relative;
  z-index: 10;
}
.tv-image .tv-video {
  position: absolute;
  top: 21%;
  left: -3%;
}
.tv-image .tv-video .tv-vid {
  width: 330px;
  height: 160px;
}
.tv-image .tv-video .tv-vid::poster {
  width: 330px;
  height: 160px;
}

.lap {
  position: absolute;
  top: 45%;
  right: -50%;
  z-index: 100;
}
.lap .lap-img {
  width: 282px;
  height: 146px;
}
.lap .lap-video {
  position: absolute;
  top: 5%;
  right: 12%;
}
.lap .lap-video .lap-vid {
  width: 213px;
  height: 118px;
}

.ipad-landscape-image {
  position: absolute;
  top: 45%;
  left: -5%;
  z-index: 100;
}
.ipad-landscape-image .ipad-landscape-img {
  width: 148px;
  height: 122px;
  position: relative;
  z-index: 200;
}
.ipad-landscape-image .ipad-landscape-video {
  position: absolute;
  top: 19%;
  right: 3%;
  width: -moz-fit-content;
  width: fit-content;
}
.ipad-landscape-image .ipad-landscape-video .ipad-land-vid {
  max-width: 137px;
}

.ipad-potrait-image {
  position: absolute;
  top: 53%;
  left: 22%;
  z-index: 120;
}
.ipad-potrait-image .ipad-potrait-img {
  width: 87px;
  height: 110px;
  position: relative;
  z-index: 200;
}
.ipad-potrait-image .ipad-potrait-video {
  position: absolute;
  top: 7%;
  right: 4%;
}
.ipad-potrait-image .ipad-potrait-video .ipad-pot-vid {
  width: 80px;
  height: 95px;
}

.iphone-image {
  position: absolute;
  top: 30%;
  left: -2%;
  z-index: 130;
}
.iphone-image .iphone-img {
  width: 95px;
  height: 93px;
  position: relative;
  z-index: 200;
}
.iphone-image .iphone-video {
  position: absolute;
  top: -9%;
  right: 30%;
}
.iphone-image .iphone-video .iphone-vid {
  width: 38px;
  height: 110px;
}

@media (min-width: 901px) and (max-width: 992x) {
  .tv-image {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0%;
  }
  .lap {
    position: absolute;
    top: 45%;
    right: -65%;
    z-index: 100;
  }
  .ipad-landscape-image {
    position: absolute;
    top: 45%;
    left: -25%;
    z-index: 100;
  }
  .ipad-potrait-image {
    position: absolute;
    top: 53%;
    left: 17%;
    z-index: 120;
  }
  .iphone-image {
    position: absolute;
    top: 30%;
    left: -23%;
    z-index: 130;
  }
}
@media (min-width: 851px) and (max-width: 900px) {
  .tv-image {
    text-align: center;
    position: absolute;
    top: 0;
    left: -5%;
  }
  .tv-image .tv-img {
    position: relative;
    z-index: 10;
  }
  .tv-image .tv-video {
    position: absolute;
    top: 21%;
  }
  .lap {
    position: absolute;
    top: 45%;
    right: -63%;
    z-index: 100;
  }
  .ipad-landscape-image {
    position: absolute;
    top: 45%;
    left: -30%;
    z-index: 100;
  }
  .ipad-potrait-image {
    position: absolute;
    top: 53%;
    left: 14%;
    z-index: 120;
  }
  .iphone-image {
    position: absolute;
    top: 30%;
    left: -28%;
    z-index: 130;
  }
}
@media (min-width: 801px) and (max-width: 850px) {
  .tv-image {
    text-align: center;
    position: absolute;
    top: 0;
    left: -14%;
  }
  .lap {
    position: absolute;
    top: 45%;
    right: -67%;
    z-index: 100;
  }
  .ipad-landscape-image {
    position: absolute;
    top: 45%;
    left: -45%;
    z-index: 100;
  }
  .ipad-potrait-image {
    position: absolute;
    top: 53%;
    left: 7%;
    z-index: 120;
  }
  .iphone-image {
    position: absolute;
    top: 30%;
    left: -40%;
    z-index: 130;
  }
}
@media (min-width: 768px) and (max-width: 800px) {
  .tv-image {
    text-align: center;
    position: absolute;
    top: 0;
    left: -14%;
  }
  .lap {
    position: absolute;
    top: 45%;
    right: -67%;
    z-index: 100;
  }
  .ipad-landscape-image {
    position: absolute;
    top: 45%;
    left: -45%;
    z-index: 100;
  }
  .ipad-potrait-image {
    position: absolute;
    top: 53%;
    left: 7%;
    z-index: 120;
  }
  .iphone-image {
    position: absolute;
    top: 30%;
    left: -40%;
    z-index: 130;
  }
}
@media (min-width: 701px) and (max-width: 767px) {
  .tv-image {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0%;
  }
  .lap {
    position: absolute;
    top: 45%;
    right: -40%;
    z-index: 100;
  }
  .ipad-landscape-image {
    position: absolute;
    top: 45%;
    left: -45%;
    z-index: 100;
  }
  .ipad-potrait-image {
    position: absolute;
    top: 53%;
    left: 17%;
    z-index: 120;
  }
  .iphone-image {
    position: absolute;
    top: 30%;
    left: -20%;
    z-index: 130;
  }
}
@media (min-width: 651px) and (max-width: 700px) {
  .tv-image {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0%;
  }
  .lap {
    position: absolute;
    top: 45%;
    right: -60%;
    z-index: 100;
  }
  .ipad-landscape-image {
    position: absolute;
    top: 45%;
    left: -28%;
    z-index: 100;
  }
  .ipad-potrait-image {
    position: absolute;
    top: 53%;
    left: 15%;
    z-index: 120;
  }
  .iphone-image {
    position: absolute;
    top: 30%;
    left: -22%;
    z-index: 130;
  }
}
@media (min-width: 576px) and (max-width: 650px) {
  .tv-image {
    text-align: center;
    position: absolute;
    top: 0;
    left: -7%;
  }
  .lap {
    position: absolute;
    top: 45%;
    right: -60%;
    z-index: 100;
  }
  .ipad-landscape-image {
    position: absolute;
    top: 45%;
    left: -25%;
    z-index: 100;
  }
  .ipad-potrait-image {
    position: absolute;
    top: 53%;
    left: 15%;
    z-index: 120;
  }
  .iphone-image {
    position: absolute;
    top: 30%;
    left: -20%;
    z-index: 130;
  }
}
@media (max-width: 575px) {
  .responsive-row .responsive-column {
    overflow: hidden;
  }
  .responsive-row .responsive-column .images {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 501px) and (max-width: 575px) {
  .tv-image {
    text-align: center;
    position: absolute;
    top: 0;
    left: 7%;
  }
  .lap {
    position: absolute;
    top: 45%;
    right: -47%;
    z-index: 100;
  }
  .ipad-landscape-image {
    position: absolute;
    top: 45%;
    left: -15%;
    z-index: 100;
  }
  .ipad-potrait-image {
    position: absolute;
    top: 53%;
    left: 22%;
    z-index: 120;
  }
  .iphone-image {
    position: absolute;
    top: 30%;
    left: -12%;
    z-index: 130;
  }
}
@media (min-width: 450px) and (max-width: 500px) {
  .tv-image {
    text-align: center;
    position: absolute;
    top: 0;
    left: 9%;
  }
  .lap {
    position: absolute;
    top: 45%;
    right: -47%;
    z-index: 100;
  }
  .ipad-landscape-image {
    position: absolute;
    top: 45%;
    left: -15%;
    z-index: 100;
  }
  .ipad-potrait-image {
    position: absolute;
    top: 53%;
    left: 22%;
    z-index: 120;
  }
  .iphone-image {
    position: absolute;
    top: 30%;
    left: -12%;
    z-index: 130;
  }
}
@media (min-width: 400px) and (max-width: 449px) {
  .tv-image {
    text-align: center;
    position: absolute;
    top: 0;
    left: 3%;
  }
  .lap {
    position: absolute;
    top: 45%;
    right: -40%;
    z-index: 100;
    width: -moz-fit-content;
    width: fit-content;
  }
  .ipad-landscape-image {
    position: absolute;
    top: 45%;
    left: -15%;
    z-index: 100;
  }
  .ipad-potrait-image {
    position: absolute;
    top: 53%;
    left: 18%;
    z-index: 120;
  }
  .iphone-image {
    position: absolute;
    top: 30%;
    left: -16%;
    z-index: 130;
  }
}
@media (min-width: 350px) and (max-width: 399px) {
  .tv-image {
    text-align: center;
    position: absolute;
    top: 0;
    left: 8%;
  }
  .lap {
    position: absolute;
    top: 45%;
    right: -32%;
    z-index: 100;
    width: -moz-fit-content;
    width: fit-content;
  }
  .ipad-landscape-image {
    position: absolute;
    top: 45%;
    left: -5%;
    z-index: 100;
  }
  .ipad-potrait-image {
    position: absolute;
    top: 53%;
    left: 20%;
    z-index: 120;
  }
  .iphone-image {
    position: absolute;
    top: 30%;
    left: 0%;
    z-index: 130;
  }
}
@media (max-width: 349px) {
  .tv-image {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0%;
  }
  .lap {
    position: absolute;
    top: 45%;
    right: -40%;
    z-index: 100;
    width: -moz-fit-content;
    width: fit-content;
  }
  .ipad-landscape-image {
    position: absolute;
    top: 45%;
    left: -15%;
    z-index: 100;
  }
  .ipad-potrait-image {
    position: absolute;
    top: 53%;
    left: 15%;
    z-index: 120;
  }
  .iphone-image {
    position: absolute;
    top: 30%;
    left: -3%;
    z-index: 130;
  }
}
/*-----  Responsive Section End -----*/
/*----- Services Section -----*/
.services .service-item {
  position: relative;
  padding-top: 40px;
}

.services .service-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: rgba(var(--default-color-rgb), 0.1);
}

.services .service-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: #e84545;
  border-right: 5px solid var(--background-color);
}

.services .service-item .icon {
  width: 48px;
  height: 48px;
  position: relative;
  margin-right: 50px;
  line-height: 0;
}

.services .service-item .icon i {
  color: rgba(var(--default-color-rgb), 0.7);
  font-size: 56px;
  transition: ease-in-out 0.3s;
  z-index: 2;
  position: relative;
}

.services .service-item .icon:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  background: rgba(var(--primary-color-rgb), 0.3);
  border-radius: 50px;
  z-index: 1;
  bottom: -15px;
  right: -15px;
  transition: 0.3s;
}

.services .service-item .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .service-item .title a {
  color: var(--secondary-color);
}

.services .service-item .title a:hover {
  color: #e84545;
}

.services .service-item .description {
  line-height: 24px;
  font-size: 14px;
}

/*----- Service Section End -----*/
/*----- Features Section -----*/
.features .features-item {
  color: rgba(var(--default-color-rgb), 0.8);
}

.features .features-item + .features-item {
  margin-top: 100px;
}

@media (max-width: 768px) {
  .features .features-item + .features-item {
    margin-top: 40px;
  }
}
.features .features-item h3 {
  font-weight: 700;
  font-size: 26px;
}
.features .features-item .btn-get-started {
  background-color: #e84545;
  color: var(--contrast-color);
  padding: 8px 30px 10px 30px;
  border-radius: 4px;
}
.features .features-item .btn-get-started:hover {
  background-color: rgba(var(--primary-color-rgb), 0.9);
}
.features .features-item ul {
  list-style: none;
  padding: 0;
}
.features .features-item ul li {
  padding-bottom: 10px;
  display: flex;
  align-items: flex-start;
}
.features .features-item ul li:last-child {
  padding-bottom: 0;
}
.features .features-item ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #e84545;
}
.features .features-item img {
  border: 6px solid var(--background-color);
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.features .features-item .features-img-bg {
  position: relative;
  min-height: 500px;
}
.features .features-item .features-img-bg img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.features .features-item .image-stack {
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
}
.features .features-item .image-stack .stack-back {
  grid-column: 4/-1;
  grid-row: 1;
  width: 100%;
  z-index: 1;
}
.features .features-item .image-stack .stack-front {
  grid-row: 1;
  grid-column: 1/span 8;
  margin-top: 20%;
  width: 100%;
  z-index: 2;
}
.features .row-1 .col-1 {
  transition: all 0.1s ease-in-out !important;
  visibility: visible;
  animation-duration: 2s;
  animation-name: slideInUp;
}
.features .row-2 .col-2 {
  transition: all 0.1s ease-in-out !important;
  visibility: visible;
  animation-duration: 2s;
  animation-name: slideInUp;
}

/*
// .zoom-in{
//   transition: all 0.1s ease-in-out!important;
//   visibility: visible;
//   transform-origin: center center;
//   animation-name: zoomIn;
// }
// .zoom-out{
//   transition: all 0.1s ease-in-out!important;
//   visibility: visible;
//   animation: zoomOut 2s ease-in-out forwards;
// }
// .fade-in{
//   transition: all .1s ease-in-out!important;
//   visibility: visible;
//   animation-duration: 2s;
//   animation-name: fadeIn;
// }
// .fade-up{
//   transition: all .1s ease-in-out!important;
//   visibility: visible;
//   animation-duration: 2s;
//   animation-name: slideInUp;
// }
// .animation-time-100{
//   animation-duration: 3s!important;
// }
// .animation-time-200{
//   animation-duration: 4s!important;
// }
// .animation-time-300{
//   animation-duration: 5s!important;
// }
// .animation-time-400{
//   animation-duration: 6s!important;
// }
// .animation-time-500{
//   animation-duration: 7s!important;
// }
// .animation-time-600{
//   animation-duration: 8s!important;
// }
// @keyframes slideInRight{
//   0% {
//       transform: translate3d(100%,0,0);
//       visibility: visible;
//   }
//   100%{
//       transform: translateZ(0);
//   }
// }

// @keyframes fadeIn{
//   0% {
//       opacity: 0;
//   }
//   100%{
//       opacity: 1;

//   }
// }
// @keyframes slideInUp{
//   0%{
//       transform: translate3d(0,100%,0);
//       visibility: visible;
//       opacity: 0;
//   }
//   100%{
//       transform: translateZ(0);
//       opacity: 1;
//   }
// }
// @keyframes zoomOut {
//   0% {
//       transform: scale(1.2);
//   }
//   100% {
//       transform:scale(0.8);
//   }
// }
// @keyframes zoomIn{
//   0%{
//     transform: scale(0);
//     opacity: 0;
//   }
//   100%{
//     transform: scale(1);
//     transition: all 0.2s ease-in-out!important;
//     opacity: 1;
//   }
// }
*/
@media (max-width: 640px) {
  .features .features-item .features-img-bg {
    min-height: 300px;
  }
}
/*----- Features Section End -----*/
/*----- Portfolio Section -----*/
.portfolio .portfolio-filters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}
.portfolio .portfolio-filters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 20px 10px 20px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 5px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  font-family: var(--heading-font);
}
.portfolio .portfolio-filters li:hover, .portfolio .portfolio-filters li .filter-active {
  color: var(--contrast-color);
  background-color: #e84545;
}
.portfolio .portfolio-filters li:first-child {
  margin-left: 0;
}
.portfolio .portfolio-filters li:last-child {
  margin-right: 0;
}

@media (max-width: 575px) {
  .portfolio .portfolio-filters li {
    font-size: 14px;
    margin: 0 0 10px 0;
  }
}
.portfolio .portfolio-item {
  position: relative;
  overflow: hidden;
}
.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: -100%;
  z-index: 3;
  transition: all ease-in-out 0.5s;
  background: rgba(var(--background-color-rgb), 0.9);
  padding: 15px;
}
.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  font-weight: 600;
  padding-right: 50px;
}
.portfolio .portfolio-item .portfolio-info p {
  color: rgba(var(--default-color-rgb), 0.7);
  font-size: 14px;
  margin-bottom: 0;
  padding-right: 50px;
}
.portfolio .portfolio-item .portfolio-info .preview-link, .portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 50px;
  font-size: 24px;
  top: calc(50% - 14px);
  color: rgba(var(--default-color-rgb), 0.7);
  transition: 0.3s;
  line-height: 0;
}
.portfolio .portfolio-item .portfolio-info .preview-link:hover, .portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #e84545;
}
.portfolio .portfolio-item .portfolio-info .details-link {
  right: 14px;
  font-size: 28px;
}
.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 0;
}

/*----- Portfolio Section End -----*/
/*---- Faq Section -----*/
.faq .content h3 {
  font-weight: 400;
  font-size: 34px;
}
.faq .content p {
  font-size: 15px;
  color: rgba(var(--default-color-rgb), 0.7);
}
.faq .accordion .accordion-item {
  border: none;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0px 5px 25px 0px rgba(var(--default-color-rgb), 0.1);
  overflow: hidden;
}
.faq .accordion .accordion-item .accordion-header {
  color: var(--secondary-color) !important;
}
.faq .accordion .accordion-item .accordion-header .accordion-button {
  font-weight: 600 !important;
  font-size: 18px !important;
  color: var(--secondary-color) !important;
  display: flex;
  align-items: baseline;
}
.faq .accordion .accordion-item .accordion-header .accordion-button .num {
  color: #e84545 !important;
  padding-right: 5px !important;
}
.faq .accordion .accordion-item .accordion-header .accordion-button span:hover {
  color: #e84545 !important;
}
.faq .accordion .accordion-item .accordion-header .accordion-button:hover {
  color: #e84545 !important;
}
.faq .accordion .accordion-item .accordion-header .accordion-button span:active {
  color: #e84545;
}
.faq .accordion .accordion-item .accordion-header .accordion-button:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
.faq .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: #e84545 !important;
  background-color: transparent;
  box-shadow: none;
}

/*----- FAQ Section End -----*/
/*----- Team Section -----*/
.team {
  --background-color: #f4f4f4;
}
.team .member {
  position: relative;
}
.team .member .member-img {
  margin: 0 80px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 4px solid var(--background-color);
  box-shadow: 0 15px 35px -10px rgba(0, 0, 0, 0.2);
}
.team .member .member-img img {
  position: relative;
  z-index: 1;
}
.team .member .member-img .social {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  padding-bottom: 20px;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}
.team .member .member-img .social a {
  transition: 0.3s;
  color: var(--contrast-color);
  font-size: 20px;
  margin: 0 8px;
}
.team .member .member-img .social a:hover {
  color: #e84545;
}
.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 6px;
  font-size: 18px;
}
.team .member .member-info span {
  font-style: italic;
  display: block;
  font-size: 15px;
  color: rgba(var(--default-color-rgb), 0.6);
  margin-bottom: 10px;
}
.team .member .member-info p {
  margin-bottom: 0;
  font-size: 14px;
}
.team .member:hover .member-img .social {
  padding-bottom: 0;
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1024px) {
  .team .member .member-img {
    margin: 0 60px;
  }
}
/*----- Team Section End -----*/
/*----- Call-to-action Section -----*/
.call-to-action {
  --default-color: #ffffff;
  --background-color: #000000;
  --background-color-rgb: 0, 0, 0;
  padding: 80px 0;
  position: relative;
  -webkit-clip-path: inset(0);
  clip-path: inset(0);
}
.call-to-action img {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 1;
}
.call-to-action:before {
  content: "";
  background: rgba(var(--background-color-rgb), 0.5);
  position: absolute;
  inset: 0;
  z-index: 2;
}
.call-to-action .container {
  position: relative;
  z-index: 3;
}
.call-to-action .container h3 {
  font-size: 28px;
  font-weight: 700;
  color: var(--default-color);
}
.call-to-action .container p {
  color: var(--default-color);
}
.call-to-action .container .cta-btn {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 5px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid var(--contrast-color);
  color: var(--contrast-color);
}
.call-to-action .container .cta-btn:hover {
  background: #e84545;
  border: 2px solid #e84545;
}

/*----- Call-to-action Section -----*/
/*----- Testimonials Section -----*/
.testimonials {
  background-color: #f4f4f4;
}
.testimonials .info h3 {
  font-weight: 700;
  font-size: 32px;
}
.testimonials .testimonial-swiper {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
}
.testimonials .testimonial-swiper .testimonial-item {
  margin: 30px;
}
.testimonials .testimonial-swiper .testimonial-item .testimonial-img {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  border: 6px solid #f4f4f4 !important;
  margin-right: 10px;
}
.testimonials .testimonial-swiper .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
}
.testimonials .testimonial-swiper .testimonial-item h4 {
  color: rgba(var(--default-color-rgb), 0.5);
  font-size: 14px;
  margin: 0;
}
.testimonials .testimonial-swiper .testimonial-item .stars {
  margin: 10px 0;
}
.testimonials .testimonial-swiper .testimonial-item .stars i {
  color: #ffc107;
  margin: 0 1px;
}
.testimonials .testimonial-swiper .testimonial-item .quote-icon-left, .testimonials .testimonial-swiper .testimonial-item .quote-icon-right {
  color: rgba(var(--primary-color-rgb), 0.4);
  font-size: 26px;
  line-height: 0;
}
.testimonials .testimonial-swiper .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}
.testimonials .testimonial-swiper .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
  transform: scale(-1, -1);
}
.testimonials .testimonial-swiper .testimonial-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
}
.testimonials .testimonial-swiper .testimonial-swiper-wrapper {
  height: auto;
}
.testimonials .swiper-pagination {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: rgba(var(--default-color-rgb), 0.15);
  opacity: 1;
  border: none;
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #e84545;
}

@media (max-width: 767px) {
  .testimonials .testimonial-item {
    margin: 15px;
  }
}
/*----- Testimonials Section End -----*/
/*----- Recent-posts Section -----*/
.recent-posts article {
  box-shadow: 0 4px 16px rgba(var(--default-color-rgb), 0.1);
  padding: 30px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.recent-posts .post-img {
  max-height: 240px;
  margin: -30px -30px 15px -30px;
  overflow: hidden;
}
.recent-posts .post-category {
  font-size: 16px;
  color: rgba(var(--default-color-rgb), 0.5);
  margin-bottom: 10px;
}
.recent-posts .title {
  font-size: 20px;
  font-weight: 600;
  padding: 0;
  margin: 0 0 20px 0;
}
.recent-posts .title a {
  color: var(--secondary-color);
  transition: 0.3s;
}
.recent-posts .title a:hover {
  color: #e84545;
}
.recent-posts .post-author-img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.recent-posts .post-author {
  font-weight: 600;
  margin-bottom: 5px;
}
.recent-posts .post-date {
  font-size: 14px;
  color: rgba(var(--default-color-rgb), 0.5);
  margin-bottom: 0;
}

/*----- Recent-posts Section End -----*/
/*----- Contact Section -----*/
.contact .info-item {
  background: rgba(var(--default-color-rgb), 0.03);
  padding: 30px;
}
.contact .info-item i {
  font-size: 38px;
  line-height: 0;
  color: #e84545;
}
.contact .info-item h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0 10px 0;
}
.contact .info-item p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.contact .php-email-form {
  background: rgba(var(--default-color-rgb), 0.03);
  padding: 30px;
  height: 100%;
}
.contact .php-email-form .error-message {
  display: none;
  background: #df1529;
  color: #ffffff;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #ffffff;
  background: #059652;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: var(--background-color);
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #e84545;
  border-top-color: var(--background-color);
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input[type=text], .contact .php-email-form input[type=email], .contact .php-email-form textarea {
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
  color: var(--default-color);
  background-color: rgba(var(--background-color-rgb), 0.5);
  border-color: rgba(var(--default-color-rgb), 0.2);
}
.contact .php-email-form input[type=text]:focus, .contact .php-email-form input[type=email]:focus, .contact .php-email-form textarea:focus {
  border-color: #e84545;
}
.contact .php-email-form input[type=text]::-moz-placeholder, .contact .php-email-form input[type=email]::-moz-placeholder, .contact .php-email-form textarea::-moz-placeholder {
  color: rgba(var(--default-color-rgb), 0.3);
}
.contact .php-email-form input[type=text]::placeholder, .contact .php-email-form input[type=email]::placeholder, .contact .php-email-form textarea::placeholder {
  color: rgba(var(--default-color-rgb), 0.3);
}
.contact .php-email-form button[type=submit] {
  background: #e84545;
  color: var(--contrast-color);
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 4px;
}
.contact .php-email-form button[type=submit]:hover {
  background: rgba(var(--primary-color-rgb), 0.8);
}

@media (max-width: 575px) {
  .contact .info-item {
    text-align: center;
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*----- Contact Section -----*/
/*------ Footer -----*/
.footer {
  --background-color: #f4f4f4;
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 14px;
  padding-bottom: 50px;
}
.footer .footer-top {
  padding-top: 50px;
}
.footer .footer-about .logo {
  line-height: 0;
  margin-bottom: 25px;
}
.footer .footer-about .logo img {
  max-height: 40px;
  margin-right: 6px;
}
.footer .footer-about .logo h1 {
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: var(--heading-font);
}
.footer .footer-about p {
  font-size: 14px;
  font-family: var(--heading-font);
}
.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(var(--default-color-rgb), 0.5);
  font-size: 16px;
  color: rgba(var(--default-color-rgb), 0.5);
  margin-right: 10px;
  transition: 0.3s;
}
.footer .social-links a:hover {
  color: #e84545;
  border-color: #e84545;
}
.footer h4 {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}
.footer .footer-links {
  margin-bottom: 30px;
}
.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-links ul i {
  padding-right: 2px;
  font-size: 12px;
  line-height: 0;
}
.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.footer .footer-links ul li:first-child {
  padding-top: 0;
}
.footer .footer-links ul a {
  color: rgba(var(--default-color-rgb), 0.8);
  display: inline-block;
  line-height: 1;
}
.footer .footer-links ul a:hover {
  color: #e84545;
}
.footer .footer-contact p {
  margin-bottom: 5px;
}
.footer .copyright {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(var(--default-color-rgb), 0.05);
}
.footer .copyright p {
  margin-bottom: 0;
}
.footer .credits {
  margin-top: 6px;
  font-size: 13px;
}

@media (max-width: 575px) {
  .footer .footer-about a {
    justify-content: center;
  }
  .footer .footer-about p {
    text-align: center;
  }
  .footer .footer-about .social-links {
    justify-content: center;
  }
}
/*----- Scroll Top Button -----*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  transition: all 0.4s;
  z-index: 99999;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: #e84545;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.scroll-top i {
  font-size: 24px;
  color: #ffffff;
  line-height: 0;
}
.scroll-top:hover {
  background-color: rgba(var(--primary-color-rgb), 0.8);
  color: #ffffff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------  Preloader ---------*/
.preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background-color: var(--background-color);
  transition: all 0.6s ease-out;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader div {
  width: 13px;
  height: 13px;
  background-color: #e84545;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  position: absolute;
  left: 50%;
}
.preloader div:nth-child(1) {
  left: calc(50% + 8px);
  animation: animate-preloader-1 0.6s infinite;
}
.preloader div:nth-child(2) {
  left: calc(50% + 8px);
  animation: animate-preloader-2 0.6s infinite;
}
.preloader div:nth-child(3) {
  left: calc(50% + 32px);
  animation: animate-preloader-2 0.6s infinite;
}
.preloader div:nth-child(4) {
  left: calc(50% + 56px);
  animation: animate-preloader-3 0.6s infinite;
}

@keyframes animate-preloader-1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animate-preloader-3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes animate-preloader-2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}/*# sourceMappingURL=main.css.map */